@{
    ViewBag.Title = "About";
}
<h2 style="color: white">@ViewBag.Title.</h2>

<p style="color:#FFEFD5">
    Pe langa declaratiile de stil pe care ceasurile si bijuteriile le fac, acestea au o incarcatura
    emotionala deosebita si o semnificatie unica, asa ca misiunea noastra este sa ne inspiram clientii
    sa iasa in evidenta prin stilul lor, dar sa le si fim alaturi in alegerea unui cadou cu adevarat special,
    plin de semnificatii pentru persoanele dragi..
</p>

<div class="col-md-4">
    <h2> </h2>
    <p style="color:#FFEFD5">Fiind la curent cu tot ce se intampla in piata la nivel global, prin prezenta constanta la cele mai importante targuri din domeniu, portofoliul Splend’or devine mai bogat de la an la an prin alaturarea brandurilor ce rezoneaza cu valorile pe care ne bazam – design atemporal, dar si in trend, lux accesibil si inovatie continua.</p>
</div>
<div class="col-md-4">
    <h2> </h2>
    <p style="color:#FFEFD5">Te asteptam in magazinele Splend’or din toata tara, unde vei beneficia de experienta avizata a consultantilor nostri si de o experienta de shopping pe placul tau</p>
</div>

