@{
    ViewBag.Title = "Contact";
}
<h2 style="color: white">@ViewBag.Title.</h2>

<address style="color: white">
   Str.Revolutiei, nr 34<br />
    Cod Postal: 293356<br />
    <abbr title="Telefon">P:</abbr>
    0234 236 778
</address>

<address style="color: white">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>