@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SPLEND'OR</h1>
    <p class="lead">Descopera cele mai noi colectii de ceasuri si bijuterii ale brandurilor internationale.</p>
</div>
<div class="col">
    <div class="card card1">
        <img src="C:\Users\viore\OneDrive\Pictures\MagazinBijuteri\MagazinBijuteri\Content\lady.jpg"
             width: 150px, height: 200px, />
    </div>
    <div class="card card2">
        <img src="C:\Users\viore\OneDrive\Pictures\MagazinBijuteri\MagazinBijuteri\Content\gold.jpg"
             width: 150px, height: 200px, />
    </div>
</div>
